html {width: 20% !important;}
body
	{
	width:           100% !important;
	font-family:     Verdana, Arial, Helvetica, sans-serif;
	margin:          0;
	color:           black;
	}

body.gray_desktop
	{
	background-image: url('/ha_backoffice/images/texture.jpg');
	}

.MainBody
	{
	margin-top:       2em;
	width:            80% !important;
	border:           1px solid Black;
	background-color: #FBFBFB;
	margin-top:       20px;
	}

table
        {
        empty-cells:      show;
        }

td
	{
	color:            black;
	font-size:        10px;
	}

th
	{
	color:            black;
	font-size:        10px;
	font-weight:      bold;
	}

a.greenButton
	{
	font-family:      Verdana, Arial, Helvetica, sans-serif;
	font-weight:      bold;
	font-size:        11px;
	padding:          4px 4px;
	border-top:       1px solid #E0E0E0;
	border-right:     1px solid black;
	border-bottom:    1px solid black;
	border-left:      1px solid #E0E0E0;
	background-color: #C8E181;
	color:            #000000;
	text-align:       center;
	text-decoration:  none;
	}

a.greenButton:hover
	{
	border-color:     black white white black;
	color:            #888888;
	}
