
.flexdropdownmenu, .flexdropdownmenu ul{ /*topmost and sub ULs, respectively*/
font: normal 13px Verdana;
margin: 0 auto;
padding: 0;
position: absolute;
left: 0;
top: 0;
list-style-type: none;
background: white;
border: 0px solid #A1C94F;
border-bottom-width: 0;
visibility: hidden;
display: block; /*collapse all sub menus to begin with*/
box-shadow: -3px 3px 8px #818181; /*shadow for CSS3 capable browsers.*/
-webkit-box-shadow: -3px 3px 8px #818181;
-moz-box-shadow: -3px 3px 8px #818181;
}


.flexdropdownmenu li{
position: relative;
}

.flexdropdownmenu li a{
display: block;
width: 150px; /*width of menu (not including side paddings)default= 160px*/
color: #336600;
background: #CDE2A1;
border-bottom: 0px solid #336600;
text-decoration: none;
padding: 4px 5px;
}

* html .flexdropdownmenu li{ /*IE6 CSS hack*/
display: inline-block;
width: 150px; /*width of menu (include side paddings) of LI A default= 170px*/
font: normal 13px Verdana;
}

.flexdropdownmenu li a:hover, .flexdropdownmenu li.selected>a{
background: #A1C94F;
color: #336600;
}

.rightarrowclass{
position: absolute;
top: 6px;
right: 5px;
}

